.afPlugin .apiResult{
    margin-top: 20px;
    font-size: 16px;
}

.afPlugin .sectionInfo span {
    color: #000;
}

.afPlugin .parameterInput div {
    margin-bottom: 0;
}

.afPlugin .parameterInput input{
    margin-left: 1rem;
    width: 300px;
    padding: .25rem;
}

.afPlugin .parameterSignature code {
  font-size: 1rem;
}

.afPlugin .runButton{
    margin-top: 15px;
    padding: 3px 25px;
    font-size: 16px;
}

.afPlugin .runButton:hover,
.afPlugin .runButton:focus {
    cursor: pointer;
}

.afPlugin .tab-help {
    color: #818181;
    font-weight: bold;
    font-size: 16px
}

.afPlugin .dropdown {
    background: #444;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 14px;
    color: #fff;
}

.afPlugin .parameterListItem {
    margin-left: 20px;
    margin-bottom: 1rem;
}

.afPlugin .runtimeComponentTree{
    width: 70%;
    float: left;
}

.afPlugin .debugListing {
    width: 30%;
    float: right;
}

.afPlugin .debugButton{
    background: grey;
    box-shadow: 0 0 7px gray;
    margin-left: 10px;
    height: 10px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
}


.af-log-levels {
  list-style: none;
}

.af-log-levels li {
  border-bottom: 1px solid #eee;
  margin-bottom: .5rem;
  padding-bottom: .5rem;
}

.af-log-levels li label {
  display: inline-block;
  width: 6rem;
}

.af-script-play-button{
    height: 20px;
    opacity: 0.6;
    margin-left: 6px;
    vertical-align: middle;
}