<html ng-app="aem-chrome-plugin-app">
  <head>
    <link rel="stylesheet" type="text/css" href="vendor/assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/options.css">
    <script src="vendor/assets/javascripts/jquery-2.2.0.min.js"></script>
    <script src="vendor/assets/javascripts/angular.min.js"></script>
    <script src="assets/javascripts/devtools/app.js"></script>
    <script src="assets/javascripts/devtools/controllers/options-controller.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>
        <img src="assets/images/aem-chrome-plugin_logo_48x48.png"/>
        AEM Chrome Plug-in
      </h2>
      <form class="form-options" ng-controller="OptionsCtrl">
        <legend>Options</legend>
        <label class="text">
          Host
          <br/>
          <input type="text" ng-model="options.host"/>
        </label>
        <label class="text">
          Web Console User
          <br/>
          <input type="text" ng-model="options.user"/>
        </label>
        <label class="text">
          Web Console Password
          <br/>
          <input type="text" ng-model="options.password"/>
        </label>
        <label class="text">
          Sling Tracer Ids <em>(comma delimited)</em>
          <br/>
          <input type="text" ng-model="options.tracerIds"/>
        </label>
      </form>
    </div>
  </body>
</html>
