<html ng-app="aem-chrome-plugin-app">
  <head>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/panel.css">

    <script src="vendor/assets/javascripts/jquery-2.2.0.min.js"></script>
    <script src="vendor/assets/javascripts/jquery-ui-1.9.2.tabs.min.js"></script>
    <script src="vendor/assets/javascripts/stupidtable.min.js"></script>
    <script src="vendor/assets/javascripts/URI.min.js"></script>
    <script src="vendor/assets/javascripts/angular.min.js"></script>

    <script src="assets/javascripts/devtools/app.js"></script>

    <script src="assets/javascripts/devtools/filters/remove-host-filter.js"></script>

    <script src="assets/javascripts/devtools/directives/dividers-directive.js"></script>

    <script src="assets/javascripts/devtools/services/requests-service.js"></script>
    <script src="assets/javascripts/devtools/services/communications-service.js"></script>
    <script src="assets/javascripts/devtools/services/tracer-status-service.js"></script>

    <script src="assets/javascripts/devtools/controllers/requests-controller.js"></script>
    <script src="assets/javascripts/devtools/controllers/options-controller.js"></script>

  </head>
  <body class="aem-chrome-plugin" test aem-chrome-plugin-panels>
    <div class="aem-chrome-plugin-requests-controller split-view"
         ng-controller="RequestsCtrl"
         ng-init="init();">

      <div  ng-show="!osgi.valid"
            class="hide-onload error-overlay">
        <div class="error-message">
            <h1>Attention!</h1>

            <p>A valid Apache Sling Log Tracer cannot be found on the AEM instance.</p>

            <p>Please review and correct any settings in the AEM Chrome Plug-in options.</p>

            <ul style="margin-left: .5rem;">
              <li><strong>Chrome > Window > Extensions > AEM Chrome Plug-in > Options</strong></li>
            </ul>
        </div>
      </div>

      <div class="split-view-contents split-view-contents-requests">

        <div class="data-grid data-grid-requests">
          <div class="control-bar">
              <span class="control-url-filter">
                <input class="control-filter" type="text"
                       placeholder="URL Filter"
                       ng-model="controls.urlFilter"/>
              </span>
              <span class="control-search-filter">
                <input class="control-filter" type="text"
                       placeholder="Search"
                       ng-model="controls.searchFilter"/>
              </span>
              <span class="control-max-requests">
                {{ requestKeys.length }} / <input type="number"
                       min="0"
                       ng-model="controls.maxRequests"/>
              </span>
              <span class="control-clear">
                <input type="button" value="Clear" ng-click="clear()"/>
              </span>
              <span class="control-reload">
                <input type="button" value="Reload" ng-click="reload()"/>
              </span>
          </div>
          <table class="header">
            <tr>
              <th class="status">Status</th>
              <th class="url">URL {{ requests().length }}</th>
              <th class="method">Method</th>
              <th class="duration">Resp. Time</th>
            </tr>
          </table>
          <div class="data-container">
            <table id="requests">
              <tr ng-repeat="request in requests() | filter: {request: {url: controls.searchFilter}} track by $index "
                  ng-click="setActive(request.key)"
                  ng-class="getClass(request.key)">

                <td class="status">{{ request.response.status }}</td>
                <td class="url ellipsis">{{ request.request.url | removeHost }}</td>
                <td class="method">{{ request.request.method }}</td>
                <td class="duration">{{ request.time | number: 0 }}ms</td>
              </tr>
              <tr class="filler">
                <td class="status"></td>
                <td class="url"></td>
                <td class="method"></td>
                <td class="duration"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="split-view-contents split-view-contents-details">
        <div id="vdivider"></div>
        <div id="tabs" class="tabbed-pane">
          <div id="hdivider"></div>
          <div class="request-info">
            <span ng-hide="activeRequest">
              Select a request to see the details
            </span>
            <span ng-show="activeRequest">
              {{ activeRequest.request.method }} {{ activeRequest.request.url | removeHost }}
            </span>
          </div>
          <div class="tabbed-pane-header">
            <div class="tabbed-pane-header-contents">
              <ul class="tabbed-pane-header-tabs">
                <!-- Log Tab -->
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-log" class="tabbed-pane-header-tab-title">Log
                    <span ng-show="activeTracerData.logs">({{ activeTracerData.logs.length }})</span></a>
                </li>
                <!-- Request Progress -->
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-request-progress" class="tabbed-pane-header-tab-title">Request Progress
                    <span ng-show="activeTracerData.requestProgressLogs">({{ activeTracerData.requestProgressLogs.length }})</span></a>
                </li>
                <!-- Queries Tab -->
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-queries" class="tabbed-pane-header-tab-title">Queries
                    <span ng-show="activeTracerData.queries">({{ activeTracerData.queries.length }})</span></a>
                </li>
                <!-- Timing
                <li class="tabbed-pane-header-tab">
                  <a href="#tab-timing" class="tabbed-pane-header-tab-title">Timing
                    <span ng-show="activeTracerData.time > 0">({{ activeTracerData.time || 0 }}ms)</a></span>
                </li>
                -->
              </ul>
            </div>
          </div>

          <div class="tabbed-pane-content data-grid data-grid-details">

            <!-- Log Tab Panel -->
            <div id="tab-log">
              <div class="tab-filter-container">
                <div class="tab-filter-wrapper">
                  <input class="tab-filter" type="text" placeholder="Filter Logs" ng-model="controls.logFilter"/>
                </div>

                <table id="log" ng-show="notEmpty(activeTracerData.logs)">
                  <tbody>
                    <tr ng-repeat="entry in activeTracerData.logs | filter: controls.logFilter track by $index">
                      <td>
                        <p><strong>
                          {{ ::entry.level }}
                          {{ ::entry.logger }}
                        </strong></p>
                        <p>{{ ::entry.message }}</p>
                        <ul class="params-list">
                          <li ng-repeat="param in entry.params">{{ ::param }}</li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Request Progress Tab Panel -->
            <div id="tab-request-progress">
              <div class="tab-filter-container">
                <div class="tab-filter-wrapper">
                    <input class="tab-filter" type="text" placeholder="Filter Request Progress" ng-model="controls.requestProgressFilter"/>
                </div>

                <table id="request-progress" ng-show="notEmpty(activeTracerData.requestProgressLogs)">
                  <tbody>
                    <tr ng-repeat="entry in activeTracerData.requestProgressLogs | filter: controls.requestProgressFilter track by $index">
                      <td>{{ entry }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Queries Tab Panel -->
            <div id="tab-queries">
              <div class="tab-filter-container">
                <div class="tab-filter-wrapper">
                  <input class="tab-filter" type="text" placeholder="Filter Queries" ng-model="controls.queryFilter"/>
                </div>

                <table id="queries">
                  <tr ng-show="activeTracerData.queries.length === 0">
                    <td>
                      If no queries are displayed ensure a tracer set exists that covers: org.apache.jackrabbit.oak.query;level=debug
                    </td>
                  </tr>
                  <tr ng-repeat="entry in activeTracerData.queries | filter: controls.queryFilter track by $index">
                    <td>
                      <p ng-show="entry.caller"><strong>Caller: {{ ::entry.caller }}</strong></p>
                      <p><strong>Query:</strong> {{ ::entry.query}}</p>
                      <p><strong>Plan:</strong> {{ ::entry.plan}}</p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <!-- Timing Tab Panel
            <div id="tab-timing">
              <table id="timing">
                <tr>
                  <td>
                    <ul class="params-list">
                      <li>Server time: {{ (activeTracerData.time || 0) | number: 0 }}ms</li>
                      <li>Network time: {{ activeRequest.time - (activeTracerData.time || 0) | number: 0 }}ms</li>
                      <li>Total time: {{ activeRequest.time | number: 0 }}ms</li>
                    </ul>
                    </td>
                </tr>
              </table>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
