body {
    margin:auto;
}

a {
    text-decoration: none;
}

.afPlugin {
    background-color: #eee;
    padding-top: .5rem;
}

.afPlugin .tabbingPanel {
    width: 100%;
    display: inline-block;
}

.afPlugin .tabLinkList {
    margin-bottom: 0px;
    margin-left: 0px;
}

.afPlugin .tabLinkList li {
    display: inline-block;
    margin: 0 .5rem;
    list-style: none;
}

.afPlugin .tabLinkList .linkDisabled{
    cursor: not-allowed;
    display: inline-block;
    color: #999;
}

.afPlugin .tabLinkList .active {
    background-color: white;
    border: 1px solid #A3A3A3;
    border-bottom: none;
    position: relative;
    bottom: -1px;
}

.afPlugin .tabLinkList a {
  color: #4a4a4a;
  display: inline-block;
  font-weight: bold;
  padding: .25rem .5rem;
}

.afPlugin .tabLinkList a:hover {
    background: #d0d0d0;
    text-decoration: none;
}

.afPlugin .tabLinkList li.active a,
.afPlugin .tabLinkList li.active a:hover {
    text-decoration:none;
    background: white;
}


.afPlugin .aem-plugin-tabs .tabbed-pane-header-tab.ui-tabs-active {
  background-color: #eee;
}

/*
TODO
*/
.afPlugin .breakpoint{
    background-color :#E80C0C;
}

.afPlugin .helpTable td,.helpTable th {
    text-align: center;
}


/*
TODO
*/

.af-tab-panelHeader{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ECECEC), to(#D9D9D9));
    border-bottom: 1px solid #A3A3A3
}

.af-tree-ul{
    -webkit-margin-start: 0px;
}
