.apiResult{
    margin-top: 20px;
    font-size: 16px;
}

.sectionInfo{
    font-size: 14px;
}

.sectionInfo span{
    color: #A35A00;
}

.parameterName {
    color: #A35A00;
}

.parameterInput input{
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
    margin-left: 10px;
    width:300px;
}

.loggingDiv {
    font-size: 16px;
}

.loggingDiv select{
    margin-right: 20px;
}

.loggingDiv input{
    padding: 5px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
    margin-left: 5px;
    width: 43px;
    margin-right: 10px ;
}

.af-warning{
    margin: 7px 2px;
    padding: 5px;
    color: #9F6000;
    background-color: #FEEFB3;
}

.runButton{
    margin-top: 15px;
    padding: 3px 25px;
    font-size: 16px;
}

.runButton:hover,
.runButton:focus {
    cursor: pointer;
}

.tab-help {
    color: #818181;
    font-weight: bold;
    font-size: 16px
}

.dropdown {
    background: #444;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 14px;
    color: #fff;

}

.parameterListItem {
    margin-left: 20px;
}

.runtimeComponentTree{
    width: 70%;
    float: left;
}

.debugListing {
    width: 30%;
    float: right;
}

.debugButton{
    background: grey;
    box-shadow: 0 0 7px gray;
    margin-left: 10px;
    height: 10px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
}
